<%- include('header') -%>   <!-- ejs layout -->

	<div class="box" id="heading">
		<h1> <%= to_day %> </h1> <h2 class="h2-aa"> ToDo List</h2>
	</div>

	<div class="box">
		<% for(let i=0; i<new_items_array.length; i++){ %>
			<div class="item">
				<input type="checkbox">
				<p> <%= new_items_array[i] %> <p>
			</div>
		<% } %>

		<form class="item" action="<%= action_value %>" method="post">
			<input type="text" name="newItem" placeholder="Add item" autocomplete="off">
			<button type="submit">+</button>
		</form>
	</div>

<%- include('footer') -%>   <!-- ejs layout -->